* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  background: #0D0D2B;
  color: #fff;
  font-size: 62.5%;
  font-weight: 400;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.6rem;
}

input {
  font-family: "Rubik", sans-serif;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.6rem;
}

body {
  font-size: 1.6rem;
  line-height: 175%;
  letter-spacing: 0.01em;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

h3 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.01em;
}

h5 {
  font-size: 2rem;
  line-height: 2.9rem;
  font-weight: 600;
}

.header__container {
  margin: 6rem 12rem 0rem 12rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top--item {
  margin-right: 3.2rem;
}

.header__top--login {
  padding: 1.4rem 3.2rem;
  margin-left: 5.6rem;
}

.header__top--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__button--login {
  margin-left: 5.6rem;
  border-right: 1px solid rgba(242, 242, 242, 0.3);
  padding-right: 2.4rem;
}

.header__button--register {
  margin-left: 2.4rem;
}

.header__content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content--left {
  margin-right: .8rem;
  width: calc(50% - 0.8rem);
}

.header__content--info {
  display: inline-block;
  margin-bottom: 2.4rem;
  padding: .4rem 1.1rem .4rem 0rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3.2rem;
}

.header__content--discount {
  background: #FFFFFF;
  border-radius: 3.2rem;
  font-style: normal;
  font-weight: 500;
  color: #0D0D2B;
  padding: .4rem 1.6rem;
  margin-right: 1.6rem;
}

.header__content--heading {
  font-style: normal;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.6rem;
  margin-bottom: 2.4rem;
}

.header__content--desc {
  margin-bottom: 3.2rem;
}

.header__content--right {
  width: calc(50% - 0.8rem);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.6rem;
}

.logo__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

.button__big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3671E9;
  border-radius: 3.2rem;
  padding: 1.6rem 2.4rem;
}

.button__big--img {
  display: inline-block;
  margin-left: 2.4rem;
  width: 3.2rem;
  height: 3.2rem;
}

.intro__container {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.intro__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__top--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__top--item--img {
  width: 8rem;
  height: 8rem;
}

.intro__top--item--content {
  margin-left: 2.4rem;
}

.intro__top--item--heading {
  margin-bottom: .8rem;
}

.intro__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__bottom--img {
  width: 65rem;
  height: auto;
}

.intro__bottom--content {
  margin-left: 7rem;
}

.intro__bottom--heading {
  margin-bottom: 2.4rem;
}

.intro__bottom--desc {
  margin-bottom: 3.2rem;
}

.trade__top {
  height: 45.7rem;
  position: relative;
}

.trade__heading {
  text-align: center;
}

.trade__desc {
  text-align: center;
  margin: 2.4rem 41rem 6.4rem 41rem;
}

.trade__form {
  position: absolute;
  color: #0D0D2B;
  inset: 30rem 25rem auto 25rem;
  background: rgba(251, 252, 254, 0.97);
  border-radius: 2rem;
}

.trade__form--inner {
  padding: 4.8rem;
}

.trade__form--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15.5rem;
  padding-bottom: 4.8rem;
}

.trade__form--input {
  width: 40rem;
  border-bottom: 1px solid #E0E0E0;
  padding: .8rem;
  color: #0D0D2B;
}

.trade__form--input::-webkit-input-placeholder {
  color: #0D0D2B;
}

.trade__form--input:-ms-input-placeholder {
  color: #0D0D2B;
}

.trade__form--input::-ms-input-placeholder {
  color: #0D0D2B;
}

.trade__form--input::placeholder {
  color: #0D0D2B;
}

.trade__form--title {
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #3671E9;
  margin-bottom: 1.6rem;
}

.trade__form--heading {
  margin-bottom: .4rem;
}

.trade__form--heading--span {
  color: #3671E9;
}

.trade__form--desc {
  color: #828282;
  margin-bottom: 4.8rem;
}

.trade .dropdown {
  width: 15rem;
  border-bottom: 1px solid #E0E0E0;
}

.trade .dropdown__arrow {
  width: 1.6rem;
  height: 1.6rem;
}

.trade .dropdown__menu {
  display: none;
}

.trade__bottom {
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F9FB), to(#b9babb));
  background: linear-gradient(180deg, #F8F9FB 0%, #b9babb 100%);
  color: #0D0D2B;
  padding: 31.6rem 12rem 10rem 12rem;
}

.trade__bottom--heading {
  margin: 0rem 20rem 6.4rem 20rem;
  text-align: center;
}

.trade__bottom--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trade__bottom--content > :not(:last-child) {
  margin-right: 4.5rem;
}

.trade__bottom--card {
  padding: 4.8rem 2.4rem;
  text-align: center;
  border-radius: 2rem;
  background: rgba(251, 252, 254, 0.97);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trade__bottom--card--img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 4.8rem;
}

.trade__bottom--card--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.6rem;
}

.trade__bottom--card--heading--shorthand {
  font-size: 1.8rem;
  color: #828282;
  margin-left: .8rem;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trade__bottom--card--desc {
  margin-bottom: 2.5rem;
  color: #828282;
}

.trade__bottom--card--button {
  margin: 0rem 3rem;
}

.card__blue {
  background: #2B076E;
  color: #FFFFFF;
}

.card__blue > p.trade__bottom--card--desc {
  color: #FFFFFF;
}

.card__blue > span.trade__bottom--card--heading--shorthand {
  color: #FFFFFF;
  opacity: 0.7;
}

.feature__heading {
  text-align: center;
  margin: 10rem 29rem;
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12rem;
}

.feature__item--detail {
  width: 45.4rem;
}

.feature__item--heading {
  margin-bottom: 2.4rem;
}

.feature__top {
  margin-left: 12rem;
  margin-right: 18rem;
}

.feature__top--left {
  margin-top: 4rem;
}

.feature__top--right {
  background: #35068C;
  padding: 4rem;
  border-radius: 2rem;
}

.feature__chart {
  margin-left: 10rem;
  position: relative;
}

.feature__chart--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__chart--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__chart--shorthand {
  font-size: 16px;
  line-height: 19px;
  margin-left: .8rem;
  color: #CFCFCF;
  opacity: 0.7;
}

.feature__chart--percentage {
  margin-left: auto;
  color: #42ffff;
}

.feature__chart--icon {
  width: 4rem;
  height: 4rem;
  margin-right: 1.6rem;
}

.feature__chart--change {
  position: absolute;
  left: 6.4rem;
  bottom: -13rem;
  padding: 2.4rem 1.6rem;
  border-radius: 1rem;
  width: 18rem;
  background: #491F98;
}

.feature__chart--change--title {
  margin-bottom: 1.6rem;
}

.feature__chart--change--percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.6rem;
}

.feature__chart--change--percentage--icon {
  width: 2.4rem;
  height: 2.4rem;
}

.feature__chart--value {
  background: #491F98;
  position: absolute;
  right: 5.6rem;
  bottom: -4.1rem;
  border-radius: 1rem;
  padding: 1.6rem 3.2rem;
}

.feature__button {
  margin-top: 3.2rem;
}

.feature__mid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25rem;
}

.feature__mid--left {
  width: 71rem;
  margin-right: 9rem;
}

.feature__mid--right {
  margin-right: 18.5rem;
}

.feature__bottom--left {
  margin-left: 12rem;
  margin-right: 6.4rem;
}

.feature__bottom--right {
  margin-right: 12rem;
}

.contact__inner {
  margin: 8.8rem 12rem;
  background-color: #3671E9;
  padding: 4.8rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__desc {
  margin-top: 1.6rem;
  width: 35rem;
}

.contact__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__button {
  background-color: #FFFFFF;
  color: #0D0D2B;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
}

.contact__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: .7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-right: 4rem;
}

.contact__input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.contact__input:-ms-input-placeholder {
  color: #FFFFFF;
}

.contact__input::-ms-input-placeholder {
  color: #FFFFFF;
}

.contact__input::placeholder {
  color: #FFFFFF;
}

.footer__inner {
  margin: 8rem 12rem;
}

.footer__inner--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__inner--bottom {
  margin-top: 12rem;
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-right: 17rem;
}

.footer__item {
  width: 20rem;
}

.footer__item--heading {
  margin-bottom: 2.4rem;
}

.footer__payment {
  width: 35.5rem;
  margin-left: 10rem;
}

.footer__payment--heading {
  margin-bottom: 4rem;
}

.footer__payment--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__payment--item img {
  width: 9.6rem;
  height: 6.4rem;
}

.footer__bottom--link--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom--link--item {
  margin-left: 3.2rem;
}

.footer__bottom--link--item img {
  width: 2.4rem;
  height: 2.4rem;
}

@media only screen and (max-width: 70em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 69em) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 52em) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 42em) {
  html {
    font-size: 25%;
  }
}

@media only screen and (max-width: 25em) {
  html {
    font-size: 20%;
  }
}
/*# sourceMappingURL=css.css.map */