$primary-color: #fff;
$sub-color: #0D0D2B;
$color-blue:  #3671E9;
$background-color: #0D0D2B;
$body-font-size: 1.6rem;
$body-font-weight: 400;
$font-family: 'Rubik', sans-serif;
$font-family-sub: 'Inter', sans-serif;
@mixin margin-lr{
    margin-left: 12rem;
    margin-right: 12rem;
}



*{
    box-sizing: border-box;
}
html{
    font-family: $font-family;
    background: $background-color;
    color: $primary-color;
    font-size: 62.5%;
    font-weight: $body-font-weight;
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: auto;
}
a{
    color: $primary-color;
    text-decoration: none;
}
button{
    font-family: $font-family;
    cursor: pointer;
    background: transparent;
    outline: none;
    border:none;
    color: $primary-color;
    font-size: $body-font-size;

}
input{
    font-family: $font-family;
    background: transparent;
    outline: none;
    border:none;
    color: $primary-color;
    font-size: $body-font-size;

}

body{
    font-size: $body-font-size;
    line-height: 175%;
    letter-spacing: 0.01em;
}
h2{
    font-size: 4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
}
h3{
    font-size:3.2rem;
    font-style: normal;
    font-weight: bold;
}
h4{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.9rem;

    letter-spacing: 0.01em;
}
h5{
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: 600;
}
//------------------------------------------header--------------------------------
.header{
    &__container{
        margin: 6rem 12rem 0rem 12rem;
    }
    //----------------top----------------

    &__top{
        display:flex;
        justify-content:space-between;
        align-items:center;
        &--logo{
            display:flex;
            justify-content:center;
            align-items:center;
        
        }
        &--right{
            display:flex;
            align-items:center;
        }
        &--menu{
            display:flex;
            justify-content:space-between;
            align-items:center;
        }
        &--item{
            margin-right: 3.2rem;
        }
        &--login{
            padding: 1.4rem 3.2rem;
            margin-left: 5.6rem;
        }
        &--buttons{
            display:flex;
            align-items:center;
            justify-content:space-between;
        }
    }
    &__button--login{
        margin-left: 5.6rem;
        border-right: 1px solid rgba(242, 242, 242, .3);
        padding-right:2.4rem;
    }
    &__button--register{
        margin-left: 2.4rem;
    }
    //---------------- content----------------
    &__content{
        margin-top: 5rem;
        display:flex;
        align-items:center;
        justify-content:space-between;
        &--left{
            margin-right: .8rem;

            width: calc(50% - 0.8rem);

        }
        &--info{
            display: inline-block;
            margin-bottom: 2.4rem;
            padding: .4rem 1.1rem .4rem 0rem;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 3.2rem;

        }
        &--discount{
            background: #FFFFFF;
            border-radius: 3.2rem;
            font-style: normal;
            font-weight: 500;
            color: #0D0D2B;
            padding: .4rem 1.6rem;
            margin-right: 1.6rem;
        }
        &--heading{
            font-style: normal;
            font-weight: bold;
            font-size: 6.4rem;
            line-height: 7.6rem;
            margin-bottom: 2.4rem;
        }
        &--desc{
            margin-bottom: 3.2rem;
        }
        &--right{
            width: calc(50% - 0.8rem);
    
        }
 
    }

}
//----------------logo----------------
.logo{
    display: flex;
    align-items: center;
    
    justify-content:space-between;

    &__img{
        width:4rem;
        height:4rem;
        margin-right: 1.6rem;
    }
    &__title{
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.04rem;
        text-transform: uppercase;
    }
}
//----------------button----------------

.button__big{
    display:flex;
    align-items: center;
    background: $color-blue;
    border-radius: 3.2rem;
    padding: 1.6rem 2.4rem;
    &--img{
        display: inline-block;
        margin-left: 2.4rem;
        width:3.2rem;
        height:3.2rem;
    }
}



//------------------------------------------intro--------------------------------


.intro{
    &__container{
        @include  margin-lr();
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
//----------------top----------------

    &__top{
        display: flex;
        justify-content:space-between;
        align-items:center;
        &--item{
            display:flex;
            
            &--img{
                width:8rem;
                height:8rem;
            }
            &--content{
                margin-left: 2.4rem;
            }
            &--heading{
                margin-bottom: .8rem;
            }
        }
    }
//----------------bottom----------------
    &__bottom{
        display: flex;
        align-items:center;
        &--img{
            width:65rem;
            height: auto;
        }
        &--content{
            margin-left: 7rem;
        }
        &--heading{
            margin-bottom: 2.4rem;
        }
        &--desc{
            margin-bottom: 3.2rem;

        }
    }
}





//------------------------------------------trade--------------------------------
.trade{
 
    &__top{
        height:45.7rem;
        position: relative;
    }
    &__heading{
        text-align: center;
    }
    &__desc{
        text-align: center;
        margin: 2.4rem 41rem 6.4rem 41rem;
    }
    &__form{
        position:absolute;
        color: $sub-color;
        inset: 30rem 25rem auto 25rem;
        background: rgba(251, 252, 254, .97);

        border-radius: 2rem;
        &--inner{
            padding:4.8rem;
        }
        &--top{
            display: flex;
            justify-content:space-between;
            align-items: center;
            height:15.5rem;
            padding-bottom:4.8rem;
        }
        &--input{
            width:40rem;
            border-bottom: 1px solid #E0E0E0;
            padding: .8rem;
            color: $sub-color;
        }
        &--input::placeholder{
            color: $sub-color;
     
        }
        &--title{
            line-height: 150%;
            letter-spacing: 0.04em;
            color: $color-blue;
            margin-bottom: 1.6rem;
        }
        &--heading{
            margin-bottom: .4rem;
            &--span{
                color: $color-blue;
            }
        }
        &--desc{
            color: #828282;
            margin-bottom: 4.8rem;
        }


    }

   .dropdown{
        width: 15rem;
        border-bottom: 1px solid #E0E0E0;

       &__arrow{
           width:1.6rem;
           height: 1.6rem;
        
       }
       &__menu{
           display: none;
       }
   }

//----------------bottom----------------

    &__bottom{
        background: linear-gradient(180deg, #F8F9FB 0%, #b9babb 100%);
        color: $sub-color;
        padding: 31.6rem 12rem 10rem 12rem;
        &--heading{
            margin: 0rem 20rem 6.4rem 20rem;
            text-align: center;
        }
        &--content{
            display: flex;
            justify-content: center;
            align-items:center;
            >:not(:last-child){
                margin-right: 4.5rem;
            }
        }
        &--card{
            padding: 4.8rem 2.4rem;
            text-align: center;
            border-radius: 2rem;
            background: rgba(251, 252, 254, .97);
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            &--img{
                width:8rem;
                height:8rem;
                margin-bottom: 4.8rem;
            }
            &--heading{
                display:flex;
                justify-content:center;
                margin-bottom: 1.6rem;
                &--shorthand{
                    font-size: 1.8rem;
                    color: #828282;
                    margin-left: .8rem;
                    display:block;
                    align-items:center;
                }
            }
            &--desc{
                margin-bottom: 2.5rem;
                color: #828282;
            }
            &--button{
                margin: 0rem 3rem;
            }
        }
    }
}

.card__blue{
    background: #2B076E;
    color: #FFFFFF ;
    >p.trade__bottom--card--desc{
    color: #FFFFFF;
    }
    >span.trade__bottom--card--heading--shorthand{
         color: #FFFFFF;
        opacity: 0.7;
}
}



//------------------------------------------feature--------------------------------
.feature{
    &__heading{
        text-align: center;
        margin: 10rem 29rem;
    }
    &__item{
        display: flex;
        margin-bottom: 12rem;
        &--detail{
            width: 45.4rem;
        }
        &--heading{
            margin-bottom: 2.4rem;
        }
    }
    &__top{
        margin-left: 12rem;
        margin-right: 18rem;
        &--left{
            margin-top: 4rem;
        }
        &--right{
            background: #35068C;
            padding: 4rem;
            border-radius: 2rem;
        }

    }
    &__chart{
        margin-left: 10rem;
        position: relative;
  
        &--title{
            display: flex;
            align-items: center;
            
        }
        &--heading{
            display:flex;
            align-items: center;
        }
        &--shorthand{
            font-size: 16px;
            line-height: 19px;
            margin-left: .8rem;
            color: #CFCFCF;
            opacity: 0.7;
        }
        &--percentage{
            margin-left: auto;
            color: rgba(66, 255, 255, 1);

        }
        &--icon{
            width:4rem;
            height:4rem;
            margin-right: 1.6rem;
        }
        &--change{
            position:absolute;
            left: 6.4rem;
            bottom: -13rem;
            padding: 2.4rem 1.6rem;
            border-radius: 1rem;
            width: 18rem;
            background: #491F98;
            &--title{
                margin-bottom: 1.6rem;
            }
            &--percentage{
                display:flex;
                align-items: center;
                margin-bottom: 1.6rem;
                &--icon{
                    width:2.4rem;
                    height:2.4rem;
                }
            }
        }
        &--value{
            background: #491F98;
            position:absolute;
            right: 5.6rem;
            bottom: -4.1rem;
            border-radius: 1rem;
            padding: 1.6rem 3.2rem;
        }
    }
    &__button{
        margin-top: 3.2rem;
    }


    &__mid{
        align-items: center;
        margin-top: 25rem;
        &--left{
            width:71rem;
            margin-right: 9rem;
        }
        &--right{
            margin-right: 18.5rem;
        }
    }

    &__bottom{
        &--left{
            margin-left: 12rem;
            margin-right:6.4rem;
        }
        &--right{
            margin-right: 12rem;
        }
    }
}

//------------------------------------------contact--------------------------------
.contact{

    &__inner{
        margin: 8.8rem 12rem;
        background-color: $color-blue;
        padding: 4.8rem;
        border-radius:2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }  
    &__desc{
        margin-top: 1.6rem;
        width: 35rem;
    }
    &__right{
        display: flex;
        align-items: center;
    }
    &__button{
        background-color: #FFFFFF;
        color: $sub-color;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 150%;
        text-align: center;
    }
    &__input{
        flex-grow: 1;
        padding: .7rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        margin-right: 4rem;
    }
    &__input::placeholder{
        color: #FFFFFF;
    }
}




//------------------------------------------footer--------------------------------

.footer{
    &__inner{
        margin: 8rem 12rem;
        &--top{
            display: flex;
            justify-content:space-between;
            align-items: flex-start;
        }
        &--bottom{
            margin-top: 12rem;
            margin-bottom: 8rem;
            display: flex;
            justify-content:space-between;
            align-items: center;
        }
    }
    &__logo{
        margin-right: 17rem;
    }
    &__item{
       width: 20rem;
        &--heading{
            margin-bottom: 2.4rem;
        }
    }
    &__payment{
        width:35.5rem;
        margin-left: 10rem;
        &--heading{
            margin-bottom: 4rem;
        }
        &--list{
            display: flex;
            justify-content:space-between;
        }
    }
    &__payment--item img{
        width: 9.6rem;
        height: 6.4rem;

    }
    &__bottom--link--list{
        display: flex;
        justify-content:space-between;
    }
    &__bottom--link--item{
        margin-left: 3.2rem;
        img{
            width: 2.4rem;
            height: 2.4rem;
        }
    

    }
}




@media only screen and (max-width:70em){
    html{
        font-size: 50%;
    }
}
@media only screen and (max-width:69em){
    html{
        font-size: 45%;
    }
}
 
@media only screen and (max-width:52em){
    html{
        font-size: 40%;
    }
}   

@media only screen and (max-width:42em){
    html{
        font-size: 25%;
    }     
}


@media only screen and (max-width:25em){
    html{
        font-size: 20%;
    }
}